{% extends 'main-web-non-sidebar.html' %}

{% block content %}
    <!-- Header Section -->
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>
            
    <!-- Main Section: Add Project -->
    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-md-2 col-lg-2"></div> <!-- Spacer Column -->
            <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Create Staff Code</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical" method="POST" enctype="multipart/form-data">
                                {% csrf_token %} <!-- CSRF Token -->
                                <div class="form-body">
                                    <div class="row">
                                        <!-- Form Fields -->
                                        {% for field in form %}
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="first-name-vertical">{{field.label}}</label>
                                                {{field}} <!-- Form Field -->
                                            </div>
                                        </div>
                                        {% endfor %}
                                        <!-- Buttons -->
                                        <div class="col-12 d-flex justify-content-end mt-2">
                                            <a type="text" class="btn btn-light-primary m-1" style="background-color: grey; color: white;" href="{% url 'dashboard' %}">Go Back</a>
                                            <input type="submit" class="btn btn-primary me-1 m-1" value="Add"></input>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-lg-2"></div> <!-- Spacer Column -->
        </div>
    </section>
{% endblock content %}
