{% extends 'main-web-non-sidebar.html' %}
{% load static %}

{% block content %}

<!-- Navigation -->
<nav class="navbar navbar-light">
    <div class="container d-block">
        <!-- Back Button -->
        <a href="{% url 'dashboard' %}"><i class="bi bi-chevron-left"></i></a>
        <!-- Logo -->
        <a class="navbar-brand ms-4" href="{% url 'dashboard' %}">
            <img src="{% static 'ui-kit/assets/compiled/png/logo.png' %}" alt="Mooverly">
        </a>
    </div>
    {% if 'SHOP' in staff_code %}
    <div class="col-2 ">
        <a type="text" class="btn btn-light-primary m-1" style="background-color: #435ebe; color: white;" href="{% url 'update-product' product.id %}">Edit</a>
    </div>
    {% endif %}
</nav>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <!-- Product Information -->
        <div class="col-md-5 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-content">
                    <div class="card-body ">
                        <!-- Title -->
                        <h4 class="card-title mb-0">STACKS</h4>
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            <!-- Product Description -->
                            The product is from {{product.owner.name}} delivered By Mooverly.
                        </p>
                        <hr>
                        <!-- Categories -->
                        <h5 class="card-title mb-4 mt-4">CATEGORY</h5>
                        {% for category in product.categories.all %}
                        <button class="btn bg-light-primary m-1" style="border-radius: 50px;">
                            {{category}} 
                        </button>
                        {% endfor %}
                        <hr>
                        <!-- Sizes -->
                        <h5 class="card-title mb-4 mt-4">SIZE</h5>
                        {% for size in product.size.all %}
                        <button class="btn bg-light-primary m-1" style="border-radius: 50px;">
                            {{size}} 
                        </button>
                        {% endfor %}
                        <!-- Demo Link -->
                        {% if project.demo_link %}
                        <div class="mt-4">
                            <a href="#" class="btn icon icon-left btn-light" style="background-color: rgba(255, 255, 255, 0.3); border: none; color: aliceblue; border-radius: 50px;" class="btn icon icon-left btn-light">
                                <i data-feather="file"></i> 
                                Source Code </a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Image and Details -->
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="card">
                <div class="card-content">
                    <!-- Product Image -->
                    <img class="card-img-bottom img-fluid" src="{{ product.featured_image.url }}"
                        alt="Card image cap" style="height: 20rem; object-fit: cover;">
                    <div class="card-body">
                        <!-- Product Title -->
                        <h4 class="card-title">{{product.title}}</h4>
                        <!-- Product Owner -->
                        <small class="text-muted">By {{product.owner.name}}</small>
                        <hr>    
                        <!-- Product Description -->
                        <p class="card-text">
                            {{product.description}}
                        </p>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Back Link -->
<p>
    <a href="{% url 'products-page' %}">back</a>
</p>

{% endblock content %}
